<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "course_list" %}">Django CMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "course_list" %}">Courses</a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item"><a class="nav-link" href="{% url "manage_course_list" %}">Instructors</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url "logout" %}">Sign out</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url "login" %}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>