certifi==2019.3.9
chardet==3.0.4
Django==2.2.1
django-braces==1.13.0
django-crispy-forms==1.7.2
django-embed-video==1.2.0
django-memcache-status==2.1
djangorestframework==3.9.4
idna==2.8
Pillow==6.0.0
python-memcached==1.59
pytz==2019.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
