{% extends "base.html" %}

{% block title %}My courses{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% for course in object_list %}
                <div class="card">
                    <div class="card-body">
                        <h1>Control Panel</h1>
                        <h2>{{ course.title }}</h2>
                        <p>
                            <a href="{% url "course_edit" course.id %}" class="btn btn-outline-success btn-sm">Edit</a>
                            <a href="{% url "course_delete" course.id %}"
                               class="btn btn-outline-danger btn-sm">Delete</a>
                            <a href="{% url "course_module_update" course.id %}" class="btn btn-outline-success btn-sm">Edit
                                modules</a>
                            {% if course.modules.count > 0 %}
                                <a href="{% url "module_content_list" course.modules.first.id %}"
                                   class="btn btn-outline-success btn-sm">Manage content</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% empty %}
                <p>You haven't created any courses yet.</p>
            {% endfor %}
            <a href="{% url "course_create" %}" class="btn btn-outline-primary btn-sm mt-3">Create new course</a>
        </div>
    </div>
{% endblock %}