{% extends "base.html" %}
{% load course %}

{% block title %}
    Module {{ module.order| add:1 }}: {{ module.title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% with course=module.course %}
                <h1>Course "{{ course.title }}"</h1>
                <div class="contents">
                    <h3>Modules:</h3>
                    <ul id="modules" class="nav flex-column">
                        {% for m in course.modules.all %}
                            <li class="nav-item" data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
                                <a class="nav-link" href="{% url "module_content_list" m.id %}">
                                      <span>
                                        Module <span class="order">{{ m.order| add:1 }}</span>
                                      </span><br>{{ m.title }}</a>
                            </li>
                        {% empty %}
                            <li class="nav-item">No modules yet.</li>
                        {% endfor %}
                    </ul>
                    <p><a class="btn btn-outline-success btn-sm"
                          href="{% url "course_module_update" course.id %}">Edit modules</a></p>
                </div>
                </div>
                <div class="col-md-6 mt-5">
                    <h3>Module {{ module.order| add:1 }}: {{ module.title }}</h3>
                    <h4>Module content:</h4>
                    <div id="module-contents">
                        {% for content in module.contents.all %}
                            <div data-id="{{ content.id }}" class="mb-3">
                                {% with item=content.item %}
                                    <p class="text-muted">{{ item }} ({{ item|model_name }})</p>
                                    <a href="{% url "module_content_update" module.id item|model_name item.id %}"
                                       class="btn btn-outline-success btn-sm">Edit content</a>
                                    <form action="{% url "module_content_delete" content.id %}" method="post"
                                          novalidate class="mt-3">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger btn-sm">Delete content</button>
                                    </form>
                                {% endwith %}
                            </div>
                        {% empty %}
                            <p>This module has no content.</p>
                        {% endfor %}
                    </div>
                    <h5>Add new content:</h5>
                    <p><a href="{% url "module_content_create" module.id "text" %}"
                          class="btn btn-outline-primary btn-sm">Text</a>
                        <a href="{% url "module_content_create" module.id "image" %}"
                           class="btn btn-outline-primary btn-sm">Image</a>
                        <a href="{% url "module_content_create" module.id "video" %}"
                           class="btn btn-outline-primary btn-sm">Video</a>
                        <a href="{% url "module_content_create" module.id "file" %}"
                           class="btn btn-outline-primary btn-sm">File</a></p>
                </div>
            {% endwith %}
    </div>
{% endblock %}

{% block domready %}
  $('#modules').sortable({
      stop: function(event, ui) {
          modules_order = {};
          $('#modules').children().each(function(){
              // update the order field
              $(this).find('.order').text($(this).index() + 1);
              // associate the module's id with its order
              modules_order[$(this).data('id')] = $(this).index();
          });
          $.ajax({
              type: 'POST',
              url: '{% url "module_order" %}',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
                 data: JSON.stringify(modules_order)
             });
      }
  });

  $('#module-contents').sortable({
      stop: function(event, ui) {
          contents_order = {};
          $('#module-contents').children().each(function(){
              // associate the module's id with its order
              contents_order[$(this).data('id')] = $(this).index();
          });

          $.ajax({
              type: 'POST',
              url: '{% url "content_order" %}',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: JSON.stringify(contents_order),
          });
      }
  });
{% endblock %}