{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}
        Edit content "{{ object.title }}"
    {% else %}
        Add a new content
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                {% if object %}
                    Edit content "{{ object.title }}"
                {% else %}
                    Add a new content
                {% endif %}
            </h1>
            <h2>Course info</h2>
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-outline-primary btn-sm">Save content</button>
            </form>
        </div>
    </div>
{% endblock %}