{% extends "base.html" %}
{% load cache %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                {{ module.title }}
            </h1>
            <h2>Modules</h2>
            <ul class="nav">
                {% for m in object.modules.all %}
                    <li class="nav-item" data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
                        <a class="nav-link" href="{% url "student_course_detail_module" object.id m.id %}">
                    <span>
                        Module <span class="order">{{ m.order| add:1 }}</span>
                    </span>
                            <br>
                            {{ m.title }}
                        </a>
                    </li>
                {% empty %}
                    <li>No modules yet.</li>
                {% endfor %}
            </ul>
            <div class="card mt-3 mb-5">
                <div class="card-body">
                    {% cache 600 module_contents module %}
                        {% for content in module.contents.all %}
                            {% with item=content.item %}
                                <h3 class="mb-3">{{ item.title }}</h3>
                                {{ item.render }}
                            {% endwith %}
                        {% endfor %}
                    {% endcache %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}